In [1]:
import pandas as pd 
import numpy as np

In [2]:
pd1 = pd.read_csv('restaurant.csv')
pd2 = pd.read_csv('item.csv')

In [40]:
pd1.median()

C:\Users\asus\AppData\Local\Temp/ipykernel_16268/1785905006.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pd1.median()

id                    5.050000e+01
rating                3.000000e+00
delivers              1.000000e+00
pick_ups              1.000000e+00
verified              1.000000e+00
closed                0.000000e+00
owner_id              3.100000e+01
abn                   7.030396e+10
is_gst_registered     1.000000e+00
website_url                    NaN
google_maps_id        6.693218e+07
min_delivery_value    1.000000e+01
is_boosted            0.000000e+00
dtype: float64

In [32]:
pd2['restaurant_id'].coun

0        1
1        1
2        1
3        1
4        1
        ..
1216    95
1217    96
1218    97
1219    98
1220    99
Name: restaurant_id, Length: 1221, dtype: int64

In [25]:
pd1.describe(include= 'all')

,id,name,address,rating,type,delivers,pick_ups,state,verified,verified_on,closed,open_date,owner_id,abn,is_gst_registered,website_url,phone_number\n,google_maps_id,min_delivery_value,is_boosted
count,100.000000,100,100,100.000000,100,100.000000,100.000000,100,99.000000,98,96.000000,100,100.000000,1.000000e+02,100.0,0.0,100,1.000000e+02,71.000000,100.000000
unique,NaN,99,93,NaN,9,NaN,NaN,5,NaN,10,NaN,79,NaN,NaN,NaN,NaN,98,NaN,NaN,NaN
top,NaN,Ayam Goreng,"387 Victoria St, Abbotsford VIC 3067",NaN,Chinese,NaN,NaN,Queensland,NaN,7/06/2019,NaN,30/04/2018,NaN,NaN,NaN,NaN,08 7010 0880,NaN,NaN,NaN
freq,NaN,2,2,NaN,30,NaN,NaN,27,NaN,15,NaN,19,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN
mean,53.200000,NaN,NaN,2.710000,NaN,0.900000,0.940000,NaN,0.949495,NaN,0.072917,NaN,32.230000,6.861980e+10,1.0,NaN,NaN,6.717517e+07,11.338028,0.090000
std,32.928757,NaN,NaN,1.788261,NaN,0.301511,0.238683,NaN,0.220099,NaN,0.261365,NaN,20.538633,1.959055e+10,0.0,NaN,NaN,1.947594e+07,5.666805,0.287623
min,1.000000,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,0.000000,NaN,0.000000,NaN,1.000000,3.545816e+10,1.0,NaN,NaN,3.493812e+07,0.000000,0.000000
25%,25.750000,NaN,NaN,1.000000,NaN,1.000000,1.000000,NaN,1.000000,NaN,0.000000,NaN,16.750000,5.281029e+10,1.0,NaN,NaN,4.729617e+07,10.000000,0.000000
50%,50.500000,NaN,NaN,3.000000,NaN,1.000000,1.000000,NaN,1.000000,NaN,0.000000,NaN,31.000000,7.030396e+10,1.0,NaN,NaN,6.693218e+07,10.000000,0.000000
75%,77.250000,NaN,NaN,4.250000,NaN,1.000000,1.000000,NaN,1.000000,NaN,0.000000,NaN,46.250000,8.658311e+10,1.0,NaN,NaN,8.454353e+07,12.500000,0.000000
max,122.000000,NaN,NaN,5.000000,NaN,1.000000,1.000000,NaN,1.000000,NaN,1.000000,NaN,92.000000,9.930063e+10,1.0,NaN,NaN,9.924706e+07,20.000000,1.000000

In [ ]:
pd1.sort_values[]